# <center><b>Python Problems(1-50)</b></center>

#### $\color{red}{\textbf{Que:1}}$ Write a python program to add two number?

In [ ]:
a = 30
b = 15
print("The sum of a and b is", a + b)

The sum of a and b is 45

#### $\color{red}{\textbf{Que:2}}$ Write a python program to find remainder when a number is divided by 2?

In [ ]:
a = 458
b = 15

print("The remainder when a is divided by b is", a%b)

The remainder when a is divided by b is 8

#### $\color{red}{\textbf{Que:3}}$ Check the type of the varible asssigned using the `input()` function?

In [ ]:
a = input("Enter first number: ")
b = input("Enter second number: ")
a = int(a)
b = int(b)
# avg = int((a + b)/2) # This is not correct, a+b is a string, not an integer.
avg = (a + b)/2
print("The average of a and b is", avg)

Enter first number: 55
Enter second number: 155
The average of a and b is 105.0

#### $\color{red}{\textbf{Que:4}}$ Use the comparison operater to find out whether a given varible is greater then `b` or not, Take `a=34` & `b=80`?

In [ ]:
a = 34
b = 80

print(a>b)

False

#### $\color{red}{\textbf{Que:5}}$ Write a python program to find `average` of two numbers entered by the user?

In [ ]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

avg = (a+b)/2

print(f"The average of {a} & {b} is {avg}")

Enter the first number: 12
Enter the second number: 16
The average of 12 & 16 is 14.0

#### $\color{red}{\textbf{Que:6}}$ Write a python program to calculate the `square` of a number entered by the user?

In [ ]:
a = int(input("Enter the number: "))
sqr = a*a
print(f"The Square of the {a} is {sqr}")

Enter the number: 12
The Square of the 12 is 144

#### $\color{red}{\textbf{Que:7}}$ Write a python program to display auser entered name followed by `Good AfterNoon` using the `input()` function?

In [ ]:
name = input("Enter Your Name:\n")
#print(f"Good Afternoon,{name}")
print(f"Hi!!! Good Afternoon," + name)

Enter Your Name:
jack
Hi!!! Good Afternoon,jack

#### $\color{red}{\textbf{Que:8}}$ Write a program to fill in a letter given below with `NAME` and `DATE`?

```python
letter = '''Dear <|NAME|>,
                 Greetings from ABC coding house.
                 I am happy to tell you about your selection
                 
                 You are selected!
                 Have a great day ahead!
                 
                 Thanks and regards,
                 Bill
                 Date: <|DATE|>
'''
```

In [ ]:
letter = '''Dear <|NAME|>,
Greetings from ABC coding house. I am happy to tell you about your selection
You are selected!
Have a great day ahead!
Thanks and regards,
Bill
Date: <|DATE|>
'''
name = input("Enter Your Name\n")
date = input("Enter Date\n")

letter = letter.replace("<|NAME|>", name)
letter = letter.replace("<|DATE|>", date)

print(letter)

Enter Your Name
Jack
Enter Date
15 Aug 2022
Dear Jack,
Greetings from ABC coding house. I am happy to tell you about your selection
You are selected!
Have a great day ahead!
Thanks and regards,
Bill
Date: 15 Aug 2022

#### $\color{red}{\textbf{Que:9}}$ Write a program to detect double spaces in a string?

In [ ]:
string = "This is a string with double  spaces."
double_spaces = string.find("  ")
print(double_spaces)  # this will return the index of the first double space
                      # if there is no double space, it will return -1

28

#### $\color{red}{\textbf{Que:10}}$ Replace the double Spaces from the `problem - 9` with single spaces?

In [ ]:
string = "The string with double  spaces."

string = string.replace("   ", " ")
print(string)

The string with double spaces  !!!

#### $\color{red}{\textbf{Que:11}}$ Write a program to format the following letter using escape sequence characters.
 
```python
letter = "Dear Jack, This Python course is nice. Thanks!"
```

In [ ]:
letter = "Dear Jack, This Python course is nice. Thanks!"
print(letter)

formatted_letter = "Dear Jack,\n\tThis Python course is nice!\nThanks!"
print(formatted_letter)

Dear Jack, This Python course is nice. Thanks!
Dear Jack,
	This Python course is nice!
Thanks!

**Escape sequence Characters?**

- `\n` -> New Line
- `\t` -> Tab
- `\'` -> Single Quote
- `\\` -> Backslash

#### $\color{red}{\textbf{Que:12}}$ Write a program to store seven fruits in a `list` entered by the user?

In [ ]:
f1 = input("Enter Fruit Number 1: ")
f2 = input("Enter Fruit Number 2: ")
f3 = input("Enter Fruit Number 3: ")
f4 = input("Enter Fruit Number 4: ")
f5 = input("Enter Fruit Number 5: ")
f6 = input("Enter Fruit Number 6: ")
f7 = input("Enter Fruit Number 7: ")

myFruitList = [f1, f2, f3, f4, f5, f6, f7]
print(myFruitList)

Enter the fruit name:banana
[]

#### $\color{red}{\textbf{Que:13}}$ Write a program to accept marks of **6 student** and display them in a `sorted` manner?

In [ ]:
m1 = int(input("Enter Marks for Student Number 1: "))
m2 = int(input("Enter Marks for Student Number 2: "))
m3 = int(input("Enter Marks for Student Number 3: "))
m4 = int(input("Enter Marks for Student Number 4: "))
m5 = int(input("Enter Marks for Student Number 5: "))
m6 = int(input("Enter Marks for Student Number 6: "))

myList = [m1, m2, m3, m4, m5, m6]
myList.sort()
print(myList)

#### $\color{red}{\textbf{Que:14}}$ Check that a tuple cannot be changed in a python?

In [ ]:
a = (2,4,5,3,2)
a[0] = 45

#### $\color{red}{\textbf{Que:15}}$ Get a `list` as input from user?

In [ ]:
# creating an empty list
lst = []
  
# number of elements as input
n = int(input("Enter number of elements : "))
  
# iterating till the range
for i in range(0, n):
    ele = int(input())
  
    lst.append(ele) # adding the element
      
print(lst)

Enter number of elements : 4
1
2
3
4
[1, 2, 3, 4]

#### $\color{red}{\textbf{Que:16}}$ Write a program to sum a list with 4 number?

In [ ]:
a = [2, 4, 56, 7]

print(a[0] + a[1] + a[2] + a[3])
print(sum(a))

#### $\color{red}{\textbf{Que:17}}$ Write a program to `count` the number of **zeros** in the following `tuple`, and also `index` the number `8`?

```
a = (7, 0, 8, 0, 9)
```

In [ ]:
a = (7, 0, 8, 0, 9)

print(a.count(0))
print(a.index(8))

2

#### $\color{red}{\textbf{Que:18}}$ Write a program to create a dictionary of **Hindi** words with values as their **english** translation. provide user an option to look in up!.

In [ ]:
myDict = {
    "pankha": "fan",
    "dabba" : "box",
    "vastu" : "item"
}
print("Options are ", myDict.keys())
a = input("Enter the Hindi Word\n")
# print("The meaning of your word is:", myDict[a])

# Below line will not throw an error if the key is not present in the dictionary
print("The meaning of your word is:", myDict.get(a))

Options are  dict_keys(['Pankha', 'Dabba', 'Vastu'])
Enter the Hindi Word
Pankha
The meaning of your word is: Fan

#### $\color{red}{\textbf{Que:19}}$ Write a program to input eight numbers from the user and display all the unique numbers(once).

In [ ]:
num1 = int(input("Enter number 1\n"))
num2 = int(input("Enter number 2\n"))
num3 = int(input("Enter number 3\n"))
num4 = int(input("Enter number 4\n"))
num5 = int(input("Enter number 5\n"))
num6 = int(input("Enter number 6\n"))
num7 = int(input("Enter number 7\n"))
num8 = int(input("Enter number 8\n"))

s = {num1, num2, num3, num4, num5, num6, num7, num8}
print(s)

Enter number 1
1
Enter number 2
2
Enter number 3
2
Enter number 4
3
Enter number 5
3
Enter number 6
4
Enter number 7
4
Enter number 8
5
{1, 2, 3, 4, 5}

#### $\color{red}{\textbf{Que:20}}$ Can we have the `set` with `18(int)` and `"18"(str)` as a values in it?

In [ ]:
s = {18, "18", 18.1}
print(s)

{18.1, 18, '18'}

#### $\color{red}{\textbf{Que:21}}$ What will be the length of the folling `set` `S`:

```python
s = set()
s.add(20)
s.add(20.0)
s.add("20") 
```
Find the length of `s` after these operation

In [ ]:
s = set()
s.add(20)
s.add(20.0)
s.add("20")
 
print(s)
print(len(s))

{'20', 20}
2

#### $\color{red}{\textbf{Que:22}}$ what is the type of `s`?

```python
s = {}
```

In [ ]:
s = {} # NOTE: This not an empty set
type(s)

dict

#### $\color{red}{\textbf{Que:23}}$ Create an empty dictionary. Allow 4 friends to enter their favourite progaming language as `values` and use `keys` as their names. Assume that the names are unique?

In [ ]:
favLang = {}

a = input("Enter your favorite language Shubham\n")
b = input("Enter your favorite language Ankit\n")
c = input("Enter your favorite language Sonali\n")
d = input("Enter your favorite language Harshita\n")

favLang['shubham'] = a
favLang['ankit'] = b
favLang['sonali'] = c
favLang['harshita'] = d

print(favLang)

Enter your favorite language Shubham
python
Enter your favorite language Ankit
java
Enter your favorite language Sonali
c
Enter your favorite language Harshita
html
{'shubham': 'python', 'ankit': 'java', 'sonali': 'c', 'harshita': 'html'}

#### $\color{red}{\textbf{Que:24}}$ If the names of the two friend are same, then what will happen to the problem in $\color{red}{\textbf{Que:23}}$?

In [ ]:
favLang = {}

a = input("Enter your favorite language Shubham\n")
b = input("Enter your favorite language Ankit\n")
c = input("Enter your favorite language Ankit\n")
d = input("Enter your favorite language Harshita\n")

favLang['shubham'] = a
favLang['ankit'] = b
favLang['ankit]'] = c
favLang['harshita'] = d

print(favLang)

Enter your favorite language Shubham
c
Enter your favorite language Ankit
java
Enter your favorite language Sonali
python
Enter your favorite language Harshita
kotlin
{'shubham': 'c', 'ankit': 'python', 'harshita': 'kotlin'}

#### $\color{red}{\textbf{Que:25}}$ If the languages of the two friends are same, then what will happen to the problem in $\color{red}{\textbf{Que:23}}$?

In [ ]:
favLang = {}

a = input("Enter your favorite language Shubham\n")
b = input("Enter your favorite language Ankit\n")
c = input("Enter your favorite language Sonali\n")
d = input("Enter your favorite language Harshita\n")

favLang['shubham'] = a
favLang['ankit'] = b
favLang['sonali'] = c
favLang['harshita'] = d

print(favLang)

Enter your favorite language Shubham
python
Enter your favorite language Ankit
python
Enter your favorite language Sonali
c
Enter your favorite language Harshita
c
{'shubham': 'python', 'ankit': 'python', 'sonali': 'c', 'harshita': 'c'}

> **Can a dictionary have same values for different keys?**


> **Answer**. No, each `key` in a dictionary should be **unique**. You can't have two `keys` with the same value. But we can have two `keys` that have same values.

#### $\color{red}{\textbf{Que:26}}$ Can you change the values inside a list which is contained in `set s`?

```python
s = {8, 7, 12, "jack", [1, 2]}
```

$\color{green}{\textbf{Ans:26}}$ `Set` items are `unchangeable`, meaning that *we cannot change the items after the set has been created*.

#### $\color{red}{\textbf{Que:27}}$ Write a program to find the **greatest of four number** entered by the user?

In [ ]:
num1 = int(input("Enter number 1: "))
num2 = int(input("Enter number 2: "))
num3 = int(input("Enter number 3: "))
num4 = int(input("Enter number 4: "))

if(num1>num4):
    f1 = num1
else:
    f1 = num4

if(num2>num3):
    f2 = num2
else:
    f2 = num3

if(f1>f2):
    print(str(f1) + " is greatest")
else:
    print(str(f2) + " is greatest")

Enter number 1: 11
Enter number 2: 12
Enter number 3: 13
Enter number 4: 14
14 is greatest

#### $\color{red}{\textbf{Que:28}}$ Write a program to find whether a student is **pass** or **fail**, if it require total of 40% and at least 33% in each subject to pass. Assume 3 subject and take the marks as an input from the user?

In [ ]:
sub1 = int(input("Enter first subject marks\n"))
sub2 = int(input("Enter second subject marks\n"))
sub3 = int(input("Enter third subject marks\n"))

if(sub1<33 or sub2<33 or sub3<33):
    print("You are fail because you have less than 33% in one of the subjects")
elif(sub1+sub2+sub3)/3 < 40:
    print("You are fail due to total percentage less than 40")
else:
    print("Congatulations! You passed the exam")

Enter first subject marks
44
Enter second subject marks
33
Enter third subject marks
28
You are fail because you have less than 33% in one of the subjects

#### $\color{red}{\textbf{Que:29}}$ A `SPAM` comment is defined as a text containing following keywords:

- "*make a lot of money*"
- "*by now*"
- "*subscribe this*"
- "*click this*"

Write a program to detect this spam?

In [ ]:
text = input("Enter the text\n")

if("make a lot of money" in text):
    spam = True
elif("buy now" in text):
    spam = True
elif("click this" in text):
    spam = True
elif("subscribe this" in text):
    spam = True
else:
    spam = False

if(spam):
    print("This text is spam")
else:
    print("This text is not spam")

Enter the text
make a lot of money
This text is spam

#### $\color{red}{\textbf{Que:30}}$ Write a program to find whether a given username contain less than 10 characters or not?

In [ ]:
names = ['mark', 'amber', 'todd', 'anita', 'sandy']
name = input("Enter the name to check\n")

if name in names:
    print("Your name is present in the list")
else:
    print("Your name is not present in the list")

Enter the name to check
Mark
Your name is present in the list

#### $\color{red}{\textbf{Que:31}}$ Write a program to calculte the grade of a student form his marks from the following scheme:

```
90 - 100 -> Ex
80 - 90  -> A
70 - 80  -> B 
60 - 70  -> C
50 - 60  -> D
< 50     -> F

```

In [ ]:
marks = int(input("Enter Your Marks\n"))

if marks>=90:
    grade = "Ex"
elif marks>=80:
    grade = "A"
elif marks>=70:
    grade = "B"
elif marks>=60:
    grade = "C"
elif marks>=50:
    grade = "D" 
else:
    grade = "F"

print("Your grade is " + grade)

Enter Your Marks
92
Your grade is Ex

#### $\color{red}{\textbf{Que:32}}$ Write a program to `print` multiplication of a given number using `for` loop?

In [ ]:
num = int(input("Enter the Number: "))

for i in range(1, 11):
     # print(str(num) + " X " + str(i) + "=" + str(i*num))
     print(f"{num} X {i} = {num*i}")

Enter the Number: 12
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

#### $\color{red}{\textbf{Que:33}}$ Write a program to greet all the person names stored in a list and which start with `S` 

```
names = ['mark', 'amber', 'sam', 'todd', 'anita', 'sandy']
```

In [ ]:
l1 = ['mark', 'amber', 'sam', 'todd', 'anita', 'sandy']

for name in l1:
    if name.startswith("s"):
        print("Hello " + name)

Hello sam
Hello sandy

#### $\color{red}{\textbf{Que:34}}$ Attempt $\rightarrow$ $\color{red}{\textbf{Que:32}}$ using `while` loop?

In [ ]:
a=int(input("Enter the number to print the multiplication table: "))

i = 1
while i <= 10:
    print(f"{a} x {i} = {a*i}")
    i=i+1

Enter the number to print the multiplication table: 12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

#### $\color{red}{\textbf{Que:34}}$ Write a program to find whether a given number is `PRIME` or not?

> A number that is divisible only by `itself` and `1` (e.g. 2, 3, 5, 7, 11). "**prime numbers are very useful in cryptography**"

In [ ]:
num = int(input("Enter the number: "))
prime = True

for i in range(2, num):
    if(num%i == 0):
        prime = False
        break
        
if prime:
    print("This number is Prime")
else:
    print("This number is not Prime")

Enter the number: 131
This number is Prime

using function

In [ ]:
def prime_number(num):
    a = 0
    for i in range(2, num):
        if num % i == 0:
            a = a + 1
    return a


n = int(input("Enter a number = "))

if prime_number(num) == 0:
    print("This is aprime number")
else:
    print("This is not a prime number")

Enter a number = 3
Not prime number.

#### $\color{red}{\textbf{Que:35}}$ Write a program to find the sum of first `n` natural numbers using `while` loop?

In [ ]:
# Sum of natural numbers up to num

num = int(input("Enter the number: "))

if num <= 0: # 0 is not a natural number but a whole number
   print("Enter a positive number")
else:
   sum = 0
   # use while loop to iterate until zero
   while(num > 0):
       sum += num
       num -= 1   
   print(f"The sum of the natural number upto the {num} is {sum}")

Enter the number: 10
The sum of the natural number upto the 0 is 55

- Initially, the `sum` is initialized to `0`. And, the number is stored in variable `num`.

- Then, we used the `while` loop to iterate until `num` becomes zero.

- In each iteration of the loop, we have added the `num` to `sum` and the value of `num` is decreased by 1.

We could have solved the above problem without using a loop by using the following formula.

$$\frac{n\times(n+1)}{2}$$

In [ ]:
n = int(input("Enter the number: "))
print(f"The sum of the natural number upto the {n} is {int(n*(n+1)/2)}")

Enter the number: 10
The sum of the natural number upto the 10 is 55

#### $\color{red}{\textbf{Que:36}}$ Write a program to calculate the **factorial** of given number using `for` loop?

$$ n! = n \times (n-1) \times (n-2) \cdots \times 3 \times 2 \times 1 $$

In [ ]:
# n! = 1 X 2 X 3 X ..... X n
# 5! = 1 X 2 X 3 X 4 X 5

num = int(input("Enter the number: "))
factorial = 1 # factorial of zero is 1

for i in range(1, num+1): # [X] range(1, num):
    factorial = factorial * i
print(f"The factorial of {num} is {factorial}")

Enter the number: 3
The factorial of 3 is 6

In [ ]:
def factorial(n):
    fact = 1
    for num in range(2, n+1):
        fact = fact * num
    return(fact)

factorial(3)

6

#### $\color{red}{\textbf{Que:37}}$ Python programs to print STAR patterns:

---

In [ ]:
n = 5

for i in range(n):
    print("*" * (n-i)) # Prints * n-i times

*****
****
***
**
*

In [ ]:
# Python Program to print star pattern 1
'''

* * * * *
* * * *
* * *
* *
*

'''
# define a function to print star shape
def star_pattern2(n):
    # Use outer for loop for rows

    for i in range(n, 0, -1 ):

        # Use inner for loop for columns / stars

        for j in range(1, i + 1):
            # print stars in each row
            print("* ", end="")

        # End of line after each row
        print()

n = int(input("Enter number of rows:"))
star_pattern2(n)

Enter number of rows:5
* * * * *
* * * *
* * *
* *
*

In [ ]:
# Python Program to print star pattern 2
'''
*
* *
* * *
* * * *
* * * * *
'''
# define a Function
def star_pattern1(n):
    # Use outer for loop for rows

    for i in range(1, n+1):

        # Use inner for loop for columns / stars

        for j in range(1, i + 1):
            # print stars in each row
            print("* ", end="")

        # End of line after each row
        print()

n = int(input("Enter number of rows:"))

star_pattern1(n)

Enter number of rows:5
*
* *
* * *
* * * *
* * * * *

In [ ]:
# Python Program to print star Triangle pattern 3
'''
     Enter number of rows:5
     *
    **
   ***
  ****
 *****

'''


# define a function to print star shape
def star_pattern3(n):
    # Use outer for loop for rows
    spaces = n
    for i in range(1, n + 1):

        # Use inner for loop 1  for spaces before stars

        for j in range(1, spaces + 1):
            # print spaces
            print(" ", end="")
        # Use inner for loop 2  for columns / stars

        for k in range(1, i + 1):
            # print stars in each row
            print("*", end="")

        # End of line after each row
        print()
        # decrease spaces
        spaces = spaces - 1


n = int(input("Enter number of rows:"))
star_pattern3(n)

Enter number of rows:5
     *
    **
   ***
  ****
 *****

In [ ]:
# Python Program to print star Triangle pattern 4
'''
     * 
    * * 
   * * * 
  * * * * 
 * * * * * 

'''


# define a function to print star shape
def star_pattern4(n):
    # Use outer for loop for rows
    spaces = n
    for i in range(1, n + 1):

        # Use inner for loop 1  for spaces before stars

        for j in range(1, spaces + 1):
            # print spaces
            print(" ", end="")
        # Use inner for loop 2  for columns / stars

        for k in range(1, i + 1):
            # print stars in each row
            print("* ", end="")

        # End of line after each row
        print()
        # decrease spaces
        spaces = spaces - 1


n = int(input("Enter number of rows:"))
star_pattern4(n)

Enter number of rows:5
     *
    * *
   * * *
  * * * *
 * * * * *

In [ ]:
# Python Program to Print Hollow Square 5 Star Pattern
'''
Please Enter any Side of a Square  : 5
Hollow Square Star Pattern
* * * * * 
*       * 
*       * 
*       * 
* * * * * 


'''
side = int(input("Please Enter any Side of a Square  : "))

print("Hollow Square Star Pattern")
for i in range(side):
    for j in range(side):
        if(i == 0 or i == side-1 or j == 0 or j == side-1):
            print('*', end = ' ')
        else:
            print(' ', end = ' ')
    print()

Please Enter any Side of a Square  : 5
Hollow Square Star Pattern
* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
# Python Program to Print Filled Square Star Pattern 6
'''
Please Enter any Side of a Square  : 5
Filled Square Star Pattern
* * * * * 
* * * * * 
* * * * * 
* * * * * 
* * * * * 


'''
side = int(input("Please Enter any Side of a Square  : "))

print("Filled Square Star Pattern")
for i in range(side):
    for j in range(side):
        print('*', end = ' ')

    print()

Please Enter any Side of a Square  : 5
Filled Square Star Pattern
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
# Program to print star patterns
'''
Enter number of rows=5
        * 
      * * 
    * * * 
  * * * * 
* * * * * 
  * * * * 
    * * * 
      * * 
        * 
'''
rows = int(input("Enter number of rows="))
i = 1
while i <= rows:
    j = i
    while j < rows:
        # printing spaces before stars
        print(' ', end=' ')
        j += 1
    k = 1
    # print stars
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i += 1
# for downside output of star pattern
i = rows
while i >= 1:
    j = i
    while j <= rows:
        print(' ', end=' ')
        j += 1
    k = 1
    while k < i:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

Enter number of rows=5
        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
# Python Star Pattern Printing Program 8
'''
Enter number of rows:5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

'''

rows = int(input("Enter number of rows:"))
for i in range(1, rows+1):
    for j in range(1, i + 1):
        print("*", end=' ')
    print()

for i in range(rows, 1, -1):
    for j in range(1, i):
        print("*", end=' ')
    print()

Enter number of rows:5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
#Python Print star pattern 9
'''
Enter number of Rows:5
        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

'''

rows = int(input("Enter number of Rows:"))
space = 2 * rows - 2
for i in range(rows, -1, -1):
    for j in range(space, 0, -1):
        print(end=" ")
    space += 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

Enter number of Rows:5
        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [ ]:
# Write a Python program
# to display Sand glass
# star pattern 10
'''
Enter number of Rows:5
* * * * * 
 * * * * 
  * * * 
   * * 
    * 
   * * 
  * * * 
 * * * * 
* * * * * 
'''

rows = int(input("Enter number of Rows:"))

for i in range(1,rows):
    for j in range(1,i):
        # print required number of spaces
        print('', end=' ')

    k = i
    for k in range(i,rows+1):
        print('*', end=' ')

    print()


i = rows - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

Enter number of Rows:5
* * * * *
 * * * *
  * * *
   * *
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
# Python Hollow Star Diamond Pattern 14
'''
        * 
      *   *
    *       *
  *           *
*               *
  *           *
    *       *
      *   *
        * 
'''

rows = 5
i = 1
while i <= rows:
    j = rows
    while j > i:
        # display space
        print(' ', end=' ')
        j -= 1
    print('*', end=' ')
    k = 1
    while k < 2 * (i - 1):
        print(' ', end=' ')
        k += 1
    if i == 1:
        print()
    else:
        print('*')
    i += 1

i = rows - 1
while i >= 1:
    j = rows
    while j > i:
        print(' ', end=' ')
        j -= 1
    print('*', end=' ')
    k = 1
    while k <= 2 * (i - 1)-1:
        print(' ', end=' ')
        k += 1
    if i == 1:
        print()
    else:
        print('*')
    i -= 1

        *
      *   *
    *       *
  *           *
*               *
  *           *
    *       *
      *   *
        *

#### $\color{red}{\textbf{Que:38}}$ Write a program to print multiplicatiion table of `n` using the for loop in the reverse order?

In [ ]:
num = int(input("Enter the Number: "))

for i in range(10, 0, -1):
     # print(str(num) + " X " + str(i) + "=" + str(i*num))
     print(f"{num} X {i} = {num*i}")

Enter the Number: 5
5 X 10 = 50
5 X 9 = 45
5 X 8 = 40
5 X 7 = 35
5 X 6 = 30
5 X 5 = 25
5 X 4 = 20
5 X 3 = 15
5 X 2 = 10
5 X 1 = 5

In [ ]:
#this is the range() function
for a in range(10, 0, -2): # range(start, stop, step)
    print(a, end=", ")     # 1 is minimum possible number but won't be included

print("\b\b")              # this will remove the comma in last

10, 8, 6, 4, 2, 

#### $\color{red}{\textbf{Que:39}}$ Factorial of a number using **Recursion**?

In [ ]:
# n! = 1 * 2 * 3 * 4...*n
# n! = [1 * 2 * 3 * 4... n-1] *n
# n! = n * (n-1)! 

# n = 0
# product = 1
# for i in range(n):
# product = product * (i+1)
# print(product)

def factorial_iter(n):
    product = 1       # we initilize the product to 1 
    for i in range(n):
        product = product * (i+1)
    return product

def factorial_recursive(n):
    if n == 1 or n == 0:
        return 1
    # recursion is a function that calls itself
    # it is used to directly use a mathematical formula as a function
    return n * factorial_recursive(n-1)  # n * (n-1)!

f1 = factorial_iter(3)
f2 = factorial_recursive(0)
print(f1)
print(f2)

6
1

#### $\color{red}{\textbf{Que:40}}$ Write a function takes `list` of 4 numbers and returns the **percentage** of the numbers?

In [ ]:
def percent(marks):
    p = ((marks[0] + marks[1] + marks[2]+ marks[3])/400 )*100
    return p

marks1 = [45, 78, 86, 77]
marks2 = [75, 98, 88, 78]

percentage1 = percent(marks1)
percentage2 = percent(marks2)

print(percentage1, percentage2)

*Creating a function that takes marks of subject as list input from the user and calculate percentage*

In [ ]:
# creating an empty list
lst = []

# iterating till the range
for i in range(0, 5):
    elem = int(input("Enter the Marks of a subject: "))
    lst.append(elem) # adding the element
      
def percent(marks):
    p = ((marks[0] + marks[1] + marks[2]+ marks[3]+ marks[4])/500 )*100
    return p

per_marks = percent(lst)
print("list of marks: ", lst)
print(f"Percentage Marks = {per_marks}")

Enter the Marks of a subject: 50
Enter the Marks of a subject: 51
Enter the Marks of a subject: 52
Enter the Marks of a subject: 53
Enter the Marks of a subject: 54
list of marks:  [50, 51, 52, 53, 54]
Percentage Marks = 52.0

#### $\color{red}{\textbf{Que:41}}$ write a program using the function to find the greatest of the the three numbers?

In [ ]:
def maximum(num1, num2, num3):
    if (num1>num2):
        if(num1>num3):
            return num1
        else:
            return num3
    else:
        if(num2>num3):
            return num2
        else:
            return num3

m = maximum(13, 55, 2)
print("The value of the maximum is " + str(m))

14

#### $\color{red}{\textbf{Que:42}}$ Write a python program using function to convert **celsius** to **fahrenheit**?

In [ ]:
def farh(cel):
    return (cel*(9/5)) + 32

c = int(input("Input the temprature in Celsius: "))
f = farh(c)
print(f"{c} degree Celsius = {f:.2f} Fahreheit")

Input the temprature in Celsius: 37
37 degree Celsius = 98.60 Fahreheit

#### $\color{red}{\textbf{Que:43}}$ How to prevent a python `print()` function to print a new line at the end?

In [ ]:
print("Hello", end=" ")
print("How", end=" ")
print("are", end=" ")
print("you?", end=" ")

Hello How are you?

#### $\color{red}{\textbf{Que:44}}$ Write a **recurcive** function to calculate the sum of first `n` **natural** numbers?

In [ ]:
n=int(input("Enter a number: "))
sum = 0

while(n > 0):
    sum=sum+n
    n=n-1
    
print("The sum of first n natural numbers is",sum)

Enter a number: 3
The sum of first n natural numbers is 6

In [ ]:
# 1+2+3+4+5+6...
# 1+2 = 3
# 1+2+3 = 6
# 1+2+3+4 = 10
# 1+2+3+4+5 = 15
# sum(n) = sum(n-1) + n

def sum(n):
    if n <= 1:
        return n
    else:
        return sum(n-1) + n

sum(5)

15

In [ ]:
num=int(input("Enter a number: "))

def sum(n):
    if n > 0:
        return n + sum(n-1)
    else:
        return 0

print(f"The sum of first {num} natural numbers is {sum(num)}")

Enter a number: 5
The sum of first 5 natural numbers is 15

#### $\color{red}{\textbf{Que:45}}$ Write the python function which convert `inch` to `cm`?

In [ ]:
# inch x 2.54 =  centimeters
# inch to cm converter
def inch(cm):
    return 2.54 * cm

i = int(input("Input the value in inchs: "))
c = inch(i)
print(f"{i} inchs = {c:.2f} cm")

Input the value in inchs: 100
100 inchs = 254.00 cm

#### $\color{red}{\textbf{Que:46}}$ Write a python function  to remove a given word form a `string` and `strip` it at the same time?

In [ ]:
def remove_and_strip(string, word):
    newStr = string.replace(word, "")
    return newStr.strip()

this = "     Python is easy to learn      "
n = remove_and_strip(this, "easy")
print(n)

Python is  to learn

#### $\color{red}{\textbf{Que:47}}$ Write a python function to print multiplication table of a given number?

In [ ]:
def mul_tab(num):
    for i in range(1, 11):
        print(f"{num} X {i} = {num*i}")

mul_tab(9)

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

`yield` and `return` in Python? 

`yield` - **Provide output and** $\color{green}{\textbf{CONTINUE}}$
- it gives back the generator object.
- it is used inside a function.
- it keeps the states of local variable.
- it does not exit the function. 

`return` - **Provide output and** $\color{red}{\textbf{STOP}}$
- it gives back the actual returned value.
- it is used inside a function.
- it destroys the state of local varible.
- it exit the function.

In [ ]:
def mul_tab(num):
    for i in range(1, 11):
        yield num*i

list(mul_tab(9))

[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]

In [ ]:
def mul_tab(num):
    for i in range(1, 11):
        return num*i # 9(num) X 1(i) = 9 and then exit function

mul_tab(9)

9

#### $\color{red}{\textbf{Que:48}}$How to make your `own_range` function in python?

In [ ]:
   def own_range(start=0, end=0, step=1):
	if step == 0:
		raise ValueError("own_range() arg 3 must be not zero")
	if start > end and step < 0:
		while start > end:
			yield start 
			start += step
	elif start > end or (start != 0 or end == 0) and start != 0 and end == 0:
		while end < start:
			yield end
			end += step
	elif start == 0 and end != 0 and end > 0 and step > 0 or (start != 0 or end == 0) and start != 0 and start < end and step > 0:
		while start < end:
			yield start
			start += step

print(list(own_range(0, 10, 2)))

[0, 2, 4, 6, 8]

#### $\color{red}{\textbf{Que:49}}$Python Program to demonstrate the use of `sample()` function

In [ ]:
# Python3 program to demonstrate
# the use of sample() function .
  
# import random 
import random
  
  
# Prints list of random items of
# length 3 from the given list.
list1 = [1, 2, 3, 4, 5, 6] 
print("With list:", random.sample(list1, 3))
  
# Prints list of random items of
# length 4 from the given string. 
string = "GoogleColab"
print("With string:", random.sample(string, 4))
  
# Prints list of random items of
# length 4 from the given tuple.
tuple1 = ("faizy", "electronics", "science",
                   "portal", "scientist", "Mtech")
print("With tuple:", random.sample(tuple1, 4))
  
  
# Prints list of random items of
# length 3 from the given set.
set1 = {"a", "b", "c", "d", "e"}
print("With set:", random.sample(set1, 3))

With list: [2, 1, 5]
With string: ['b', 'l', 'o', 'o']
With tuple: ['portal', 'Mtech', 'science', 'electronics']
With set: ['c', 'e', 'a']

#### $\color{red}{\textbf{Que:50}}$ Generate a password with length "passlen" with no duplicate characters in the password

**Syntax** : `random.sample(sequence, k)`

**Parameters**:
- **sequence**: Can be a `list`, `tuple`, `string`, or `set`.
- **k**: An Integer value, it specify the length of a sample.

**Returns**: `k` length new list of elements chosen from the `sequence`.

In [ ]:
import random

lower = "abcdefghijklmnopqrstuvwxyz"
upper = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" 
numbers= "0123456789"
symbols = "@_"

s = lower + upper + numbers + symbols

passlen = 16
password = "".join(random.sample(s, passlen))
print(password)

WNyOnI0Lm63Hv5sU

### $\color{skyblue}{\textbf{Connect with me:}}$


[<img align="left" alt="codeSTACKr | Twitter" width="22px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/twitter.svg" />][twitter]
[<img align="left" alt="codeSTACKr | LinkedIn" width="22px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/linkedin.svg" />][linkedin]
[<img align="left" alt="codeSTACKr.com" width="22px" src="https://raw.githubusercontent.com/iconic/open-iconic/master/svg/globe.svg" />][StackExchange AI]

[twitter]: https://twitter.com/F4izy
[linkedin]: https://www.linkedin.com/in/mohd-faizy/
[StackExchange AI]: https://ai.stackexchange.com/users/36737/cypher


---